/* Style for main page*/
html, body {
  height: 100%;
}

body{
	background: #34495e;
}

.member-container{
    position:absolute;
    top:104px;
    width:100%;
}

.member .input-group .form-control{
	height: 54px;
	padding-top: 7px;
	padding-left: 17px;
	background: none;
	border: 3px solid #758594; 
	color: #fff;
}

.member-container form .input-group .input-group-btn button.btn,
.member-container form .input-group .input-group-btn button.btn:hover{
	background: #758594;
	box-shadow: none;
	opacity: 1;
	width: 53px;
	height: 54px;
}

.member-container form a {
	color: #1DCFAC;
	font-size: 13px;
}

.member-container form .input-group {
	margin-bottom: 20px;
}

.member-container .btn > span {
	font-size: 12px;
	position: relative;
	top: -1px;
	margin-left: 5px;
}

.member-container form input[type="email"], .member-container form input[type="password"], .member-container form input[type="text"] {
	border: 0px;
	background-color: #2C3E50;
	color: #eee;
	font-size:16px;
}

.member-container h2 {
	margin-bottom: 40px;
	font-weight: 200;
	font-size: 22px;
	text-transform: uppercase;
	color: #eee;
	letter-spacing: 4px;
}


.member-container h5.smaller {
	color: #ddd;
	font-weight: normal;
	font-size: 18px;
}

.member-container h5.smaller > span {
	margin-right: 10px;
}

.member-container form .btn-primary {
	margin-bottom: 10px;
}

.member-container h5{
    color:white;
  text-align:left;
}
.member-container h4{
  color:white;
}

.member-container h5 a{
    font-size:20px !important; 
}

.social-icons p {
	color: #898989;
	font-size: 17px;
	text-align: center;
	padding-top: 20px;
}

.member-container ul.soc_icons2 {
	text-align: center;
	padding: 12px 0;
}

.member-container ul.soc_icons2 li.pic {
	background: none;
	display: inline-block;
	width: 24%;
	margin: 0;
}

.member-container ul.soc_icons2 li.pic i {
	width: 68px;
	height: 68px;
	display: inline-block;
	background: url('../../images/member/icon.png') no-repeat 0px 0px;
	vertical-align: middle;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.member-container ul.soc_icons2 li.pic i:hover {
	border-top-left-radius: 3em;
	-o-border-top-left-radius: 3em;
	-moz-border-top-left-radius: 3em;
	-webkit-border-top-left-radius: 3em;
}

.member-container ul.soc_icons2 li.pic a:hover {
	text-decoration: none;
}

.member-container ul.soc_icons2 li.pic a i.icon_4 {
	background-position: -106px 4px;
}

.member-container ul.soc_icons2 li.pic a i.icon_5 {
	background-position: -204px 4px;
}

.member-container ul.soc_icons2 li.pic i.icon_6 {
	background-position: -302px 4px;
}


.member-container input {
	text-align:left !important;
}

.member-container hr.dashed{
	border-top: 1px solid #dfe6e7;
	margin-top: 40px; 
	margin-bottom: 40px;
}

.member-container hr.dashed.light{
	border-top: 1px dashed #758594;
}

.member-container .checkbox{
	margin-top: 2px;
	margin-bottom: 60px;
	padding-left: 0px;
	padding-right: 0px;
	color: #8fd9e0;
	font-family: 'Open Sans', sans-serif;
}
.member-container .checkbox label,.member-container .checkbox a{
	font-size: 18px !important;
	font-style:normal;
}

.member-container .btn-primary{
	background: #85d6de;
	color: #fff;
}

.member-container .btn{
	padding: 16px 13px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 -3px rgba(0,0,0,.1);
	box-shadow: inset 0 -3px rgba(0,0,0,.1);
}

.member-container h5.smaller span{
    margin-right:0px;
}

.member-container .input-group-btn .btn .fui-user:before{
	content: "\f007";
	font-family: FontAwesome;
    font-size: 16px;
    color: #34495e;
}

.member-container .input-group-btn .fui-list:before{
	content: "\f03a";
	font-family: FontAwesome;
    font-size: 14px;
    color: #34495e;
}

.member-container .input-group-btn .fui-mail:before{
	content: "\f0e0";
	font-family: FontAwesome;
    font-size: 14px;
    color: #34495e;
}

.member-container form .input-group .input-group-btn button.btn, 
.member-container form .input-group .input-group-btn button.btn:hover{
	color: #34495e !important;
}


.member-container form .text-center a{
	margin: 20px 0;
	color: #85d6de;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.member-container form .text-center a span{
	font-size: 12px;
}

.member-container form .dashed.light{

}

.member-container .input-group-btn .fui-home:before{
	content: "\f015";
	font-family: FontAwesome;
    font-size: 16px;
    color: #34495e;
}

.member-container .text-center{
	color: #fff;
    font-family: "Varela Round",sans-serif;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}
.member-container .checkbox input[type=checkbox]:checked + label:before {

  background-color:white;
}
.member-container .checkbox label{
    color:white;
}


.member-container .hidden-content{
    display:none;
}

..member-container .input-group-btn .btn i{
	color:#34495E;
}