.collabo {
    margin-top: 25px;
    padding: 0px 10px 0px 10px;
}

.collabo .grid {
	position: relative;
/* 	max-width: 1000px; */
/*	margin-top: 2%; */
	margin-bottom: 2%;
	text-align: center;
	display: table;
}
.collabo .SonOfgrid {
	display: table-cell;
}

/* Common style */
.collabo .grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0px;
/*  min-width: 320px; */
/*	max-width: 480px;*/
	max-height: 360px;
	width: 33.3%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.collabo .grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

.collabo .grid figure figcaption {
	padding-top: 22%;
	text-transform: uppercase;
	font-size: 1.25em;
	backface-visibility: hidden;
}

.collabo .grid figure figcaption::before,
.collabo .grid figure figcaption::after {
	pointer-events: none;
}

.collabo .grid figure figcaption,
.collabo .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.collabo .grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.collabo .grid figure h2 {;
	font-weight: 300;
}

.collabo .grid figure h2 span {
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
}

.collabo .grid figure h2,
.collabo .grid figure p {
	color: #ffffff!important;
	margin: 0;
}

.collabo .grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */


/*---------------*/
/***** Bubba *****/
/*---------------*/

.collabo figure.effect-bubba {
	background: #9e5406;
	background-size: cover;
	background-position: center;
	opacity: 0.7;
	transition: opacity 0.35s;
	text-shadow: 2px 2px rgba(10, 10, 10, 0.17);
}

.collabo figure.effect-bubba img {
	opacity: 0.3;
	transition: opacity 0.35s;
}

.collabo figure.effect-bubba:hover img {
	opacity: 0.5;
}

.collabo figure.effect-bubba figcaption::before,
.collabo figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
}

.collabo figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: scale(0,1);
}

.collabo figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: scale(1,0);
}

.collabo figure.effect-bubba h2 {
	padding-top: 36px;
	transition: transform 0.35s;
	transform: translate3d(0,-20px,0);
}

.collabo figure.effect-bubba p {
	padding: 20px 0.5em;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,20px,0);
}

.collabo figure.effect-bubba:hover figcaption::before,
.collabo figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	transform: scale(1);
}

.collabo figure.effect-bubba:hover h2,
.collabo figure.effect-bubba:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

@media screen and (max-width: 50em) {
	.collabo .content {
		padding: 0 10px;
		text-align: center;
	}
	.collabo .grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}



.collabo *, .collabo *:after, .collabo *:before { box-sizing: border-box; }
