
@font-face {
font-family: brandon-grotesque;
font-style: normal;
font-weight: 100;
src: url("../fonts/Brandon_thin.otf") format('opentype');
}

@font-face {
font-family: brandon-grotesque;
font-style: normal;
font-weight: 300;
src: url("../fonts/Brandon_light.otf") format('opentype');
}

@font-face {
font-family: brandon-grotesque;
font-style: normal;
font-weight: 500;
src: url("../fonts/Brandon_med.otf") format('opentype');
}

@font-face {
font-family: brandon-grotesque;
font-style: normal;
font-weight: 700;
src: url("../fonts/Brandon_bld.otf") format('opentype');
}

@font-face {
font-family: brandon-grotesque;
font-style: normal;
font-weight: 900;
src: local('brandon-grotesque'), url("../fonts/brandongrotesque-black-webfont.ttf") format('truetype');
}

h1{
		font-size: 5em;
		font-family: "brandon-grotesque", sans-serif;
		color: #fff;
		margin:0;
	}
	.intro p{
		color: #fff;
	}

	.section{
		text-align:center;
	}

	.controlArrow.prev {
		left: 55px;
	}
	.controlArrow.next{
		right: 55px;
	}


/* 화면 여백 */
.leftSpace {
	top:0px;
	left: 0px;	
	width: 20px;
	height: 100%;
	background-color: #333333;
	position: absolute;
	z-index: 100;
}

.centerSpace {
	top:0px;
	left: 50%;	
	width: 40px;
	height: 100%;
	background-color: #333333;
	position: absolute;
	z-index: 101;
    margin-left: -20px;
}

.rightSpace {
	top:0px;
	right: 0px;	
	width: 20px;
	height: 100%;
	background-color: #333333;
	position: absolute;
	z-index: 100;
}

.topSpace {
	top: 0px;
	width: 100%;
	height: 20px;
	background-color: #333333;
	position: absolute;
}

.bottomSpace {
	bottom: 0px;
	width: 100%;
	height: 20px;
	background-color: #333333;
	position: absolute;
}
.rightShadow {
	top:20px;
	right: 20px;	
	width: 20px;
	height: calc(100% - 40px);
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 102;
	box-shadow: 9px 9px 10px -2px rgba(0,0,0,0.75);
}

.centerShadow {
	top:20px;
	right: calc(50% + 20px);	
	width: 20px;
	height: calc(100% - 40px);
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 102;
	box-shadow: 9px 9px 10px -2px rgba(0,0,0,0.75);
}

.bottomShadow {
	bottom:20px;
	right: 20px;	
	width: calc(100% - 40px);
	height: 20px;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 102;
	box-shadow: 9px 9px 10px -2px rgba(0,0,0,0.75);
}

.bottomShadowL {
	bottom:20px;
	left: 20px;	
	width: calc(50% - 40px);
	height: 20px;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 102;
	box-shadow: 9px 9px 10px -2px rgba(0,0,0,0.75);
}

.bottomShadowR {
	bottom:20px;
	right: 20px;	
	width: calc(50% - 40px);
	height: 20px;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 102;
	box-shadow: 9px 9px 10px -2px rgba(0,0,0,0.75);
}



/* 슬라이드 화살표 */
.fp-controlArrow.fp-prev {
	border: 0px;
	border-color: rgba(0,0,0,0);
}

.fp-controlArrow.fp-next {
    right: 43px;
	width:20px;
	height:20px;
    border-top: 6px solid #333;
    border-right: 6px solid #333;
    border-radius: 1px;
}

.fp-controlArrow {
	top: 53.2%;
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}

.fp-controlArrow:hover {
    right: 42.5px;
    top: 52.95%;
	width: 22px;
	height: 22px;
    border-top: 7px solid #333;
    border-right: 7px solid #333;
	transition-property: transform;
	transition-duration: 0.1s;
}

.arrowText {
    right: 27px;
    top: 47.2%;
    width: 140px;
    position: absolute;
    opacity: 0.7;
    z-index: 3;
    display: none;
}

.section {
	border-width: 0px 0px 0px 0px;
	border-style: solid;
	border-color: #333333;
}

#fp-nav.left {
	left: 32px;
}

.fp-slidesNav.bottom {
	bottom: 27px;
}

/* 클릭이미지 */
.clickImg {
    top: 10%;
    right: 55%;
    width: 15%;
    max-width: 200px;
    position: absolute;
	z-index: 999;
}

.clickImg > p {
    font-size: 22px;
    position: absolute;
    top: 53%;
    left: 58.5%;
    transform: rotate(331deg);
    width: 110px;
    color: white;
    font-weight: bold;
}

/* iframe */
iframe {
	width: calc(100% - 50px);
    height: calc(100% - 50px);
    border: 0px;
    margin-top: 5px;
}


/* 로딩애니메이션 */
#loading {
	position: fixed;
	text-align: center;
	z-index: 9999;
	overflow: auto;
	padding-top: calc(50vh - 29px);
	width: 100%;
	height: 100vh;
	background-color: #333333;
	opacity: 0.99;
}

#loading img {
	width: 58px;
}

#loading p {
	color: white;
	opacity: 0.6;
	display: block;
	margin-top: 7px;
}
}