/* 
2016 조동호 개인웹페이지

<<< 코딩 순서 >>>
position, float
width, height
top, right, left, bottom
margin, padding
border
text
background ( -image , -position , -repeat , -size, -attachment )
opacity, z-index, display, visibility
transition, transform, animation
box-shadow

<<< 벤더 프리픽스 >>>
assets/js/prefixfree.min.js 라이브러리 사용

<<< 미디어 >>>


*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
	font-family: "Jeju Gothic";
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot);
	src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot?#iefix) format("embedded-opentype"),
	 url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff2) format("woff2"),
	 url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff) format("woff"),
	 url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.ttf) format("truetype");
}

@font-face {
	font-family: brandon-grotesque;
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/Brandon_thin.otf") format("opentype");
}

@font-face {
	font-family: brandon-grotesque;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Brandon_light.otf") format("opentype");
}

@font-face {
	font-family: brandon-grotesque;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Brandon_med.otf") format("opentype");
}

@font-face {
	font-family: brandon-grotesque;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Brandon_bld.otf") format("opentype");
}

@font-face {
	font-family: brandon-grotesque;
	font-style: normal;
	font-weight: 900;
	src: local("brandon-grotesque"), url("../fonts/brandongrotesque-black-webfont.ttf") format("truetype");
}

/* 로딩애니메이션 */
.spinner {
	position: fixed;
	width: 100%;
	height: 100vh;
	padding-top: calc(50vh - 29px);
	text-align: center;
	overflow: auto;
	z-index: 9999;
	background-color: rgba(0,0,0,0.9);
}
.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
	animation-delay: -0.32s;
}
.spinner .bounce2 {
	animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	-webkit-transform: scale(0);
	transform: scale(0);
} 40% { 
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
}
}
@keyframes rotate {
from { transform: rotate(15deg) }
to { transform: rotate(375deg) }
}

@media (max-width: 900px) {
	html { font-size: 10px; }
}
@media (max-width: 800px) {
	html { font-size: 8px; }
}
@media (max-width: 700px) {
	html { font-size: 7px; }
}
@media (max-width: 600px) {
	html { font-size: 6px; }
}
@media (max-width: 500px) {
	html { font-size: 5px; }
}
@media (max-width: 400px) {
	html { font-size: 4px; }
}


/* =================================
usable
=============================== */
*:focus {outline:none !important;}

.padding15 {
	padding-right: 15px;
	padding-left: 15px;
}
.padding0 {
	padding: 0;
}
.margin15 {
	margin-right: 15px;
	margin-left: 15px;
}
.margin0 {
	margin: 0;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.display-ib {
	display: inline-block;
}
.display-inline {
	display: inline;
}
.display-block {
	display: block;
}
.display-none {
	display: none;
}
.display-flex {
	display: flex;
}
.display-table {
	display: table;
}
.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}
.opacity-0 {
	opacity: 0;
}
.opacity-1 {
	opacity: 1;
}
.color3 {
	color: #22aba6;
}
.width100pro {
	width: 100%;
}
.cursor-default {
	cursor: default;
}
.cursor-pointer {
	cursor: pointer;
}
.bg-transparent {
	background: transparent;	
}
.bg-postion-y-0 {
	background-position-y: 0 !important;
}
.bg-postion-y-100 {
	background-position-y: 100px !important;
}
.boxshadow-white {
	box-shadow: 0px 0px 7px 7px rgba(255, 255, 255, 0.4);
}

/* =================================
공통
=============================== */
body {
	font-family: "Jeju Gothic", serif;
	background: #fff;
}

h1 {
	font-size: 4.8rem;
	font-family: "brandon-grotesque", sans-serif;
	font-weight: 700;
	color: #fff;
	margin:0;
}

.intro {
	display: table-cell;
	vertical-align: middle;
}
.intro p{
	color: #fff;
	margin: 0px;
}

/* HEADER */
header {
	position: fixed;
	width: 55px;
	height: 55px;
	top: 7px;
	left: 7px;
	border-radius: 100%;
	z-index: 999;
	transition: 0.2s ease;
	text-decoration:none !important;
	background-color: rgba(0, 0, 0, 0.2);
}
header:hover {
	width: 43px;
	height: 43px;
	top: 13px;
	left: 13px;
	background: rgba(0, 0, 0, 0.5) !important;
}

header a {
	position: absolute;
	width: 100%;
	height: 100%;
}

header #logo {
	position: fixed;
	width: 45px;
	height: 45px;
	top: 12px;
	left: 12px;
	transition: 0.6s ease;
	background-size: contain;
	background-image: url("../imgs/logo_side_white.png");
	border-radius: 50%;
}



/* 슬라이드 화살표 */
.fp-controlArrow.fp-prev {
	border: 0px;
	border-color: rgba(0,0,0,0);
}
.fp-controlArrow.fp-next {
	width: 20px;
	height: 20px;
	right: 14px;
	border-top: 6px solid #fff;
	border-right: 6px solid #fff;
	border-radius: 1px;
}
.fp-controlArrow {
	top: 53.2%;
	transition: 0.25s ease-in-out;
}
.fp-controlArrow:hover {
	width: 22px;
	height: 22px;
	right: 14px;
	top: 52.95%;
	border-top: 7px solid #fff;
	border-right: 7px solid #fff;
	transition-property: transform;
	transition-duration: 0.1s;
}
.arrowText {
	position: absolute;
	display: none;
	right: 11px;
	top: 14px;
	z-index: 3;
	opacity: 0.7;
	transform: rotate(-45deg);
	color: #fff;
}


/* 블럭 네비게이션 */
#blockNavigation {
	width: 52px;
	height: 130px;
	position: fixed;
	top: 50%;
	left: 9px;
	margin-top: -62px;
	padding: 9px 0 0 3px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 11px;
	z-index: 999;
}
#blockNavigation .area {
	float: left;
	width: 12px;
	height:12px;
	margin: 6px;
}
#blockNavigation .block {
	display: block;
	width: 4px;
	height:4px;
	top: 50%;
	left: 50%;
	margin: 4px;
	border-radius: 100%;
	background: #fff;
	transition: all 0.1s ease-in-out;
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}
#blockNavigation .active {
	width: 12px !important;
	height:12px !important;
	margin: 0px !important;
}
#blockNavigation .hover {
	width: 10px;
	height:10px;
	margin: 1px;
}


/* 클릭이미지 */
.clickImg {
	top: 13%;
	left: 70%;
	width: 13%;
	max-width: 200px;
	position: absolute;
	z-index: 999;
}
.clickImg img {
	width: 100%;
}

/* iframe */
iframe {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	border: 0px;
	margin: 10px;
}
#section3 #slide2 iframe {
	background-color: rgb(189, 66, 125);
}
#section4 #slide2 iframe {
	background-color: rgb(52, 73, 94);
}
#dc_openImg, #moa_openImg {
	position: absolute;
	top: 10px;
	right: 10px;
	width: calc(50% - 20px);
	height: calc(100% - 20px);
	background-color: rgba(0,0,0,0.5);
}



/* 페이지 배경 */
.section {
	height: 100% !important;
	text-align:center;
}
.section, .section .slide {
	transition: 0.8s ease;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #7f7f7f;
}
#section0 {
	background-image: url("../imgs/galaxy.jpg");
/*	background-image: url("../imgs/bg_section0.jpg");*/
	background-position: 50%;
}

#section3 #slide1 {
	background-image: url("../imgs/bg_dreamcatcher.jpg");
}

#section4 #slide1 {
	background-position: 50% 30% !important;
	background-image: url("../imgs/bg_moado.png");
}

.pattern-overlay {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../imgs/pattern-overlay.png");
	background-repeat: repeat;
	background-attachment: scroll;
}

#slide1 .pattern-overlay {
	width:50%;
}

.starwars-page {
	margin: auto;
	width: 100%;
	height: 100%;
	bottom: 0;
	perspective: 500px;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	font-family: impact;
	font-weight: 500;
}

.starwars-intro {
	top: 0%;
	margin: auto;
	width: 100%;
	max-width: 600px;
	position: relative;
	font-size: 1.8em;
	color: #e8be1e;
	text-align: justify;
	transform: rotateX(30deg) scale(2);
}

.starwars-intro h1 {
	font-size: 2em;
	text-align: center;
}

