/*Prevent fixed top heading*/
.header .header-fixed{
    position: relative;
    top: 0;
	z-index: 200;
    margin-top: 0;
    -webkit-transform: translate3d(0px,  0px, 0px);
    transform: translate3d(0px,  0px, 0px);
}
.header-placement .header-fixed{
    position: relative;
    top: 0;
    z-index: 200;
    margin-top: 0;
    -webkit-transform: translate3d(0px,  0px, 0px);
    transform: translate3d(0px,  0px, 0px);
    margin-bottom: -161px;
}

.header-placement .scroll-next{
    bottom: 90px;
}

.fixed-top{
	position: static;
    margin-top: 0px;
}

.header-line{
	margin-bottom: 0;
}

.header--block .fixed-top{
    margin-top: -71px;
}

.header--complex .fixed-top{
    margin-top: -84px;
}

.header--opacity{
    width: 100%;
}

@media  (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .header--opacity{
        position: static;
    }

    .header--block .fixed-top{
        margin-top: 65px;
    }

    .header--complex .fixed-top{
        margin-top: 64px;  
    }

    /*Specific headers rules*/
}

.header-offer .header-fixed{
    position: relative;
    margin-bottom: -120px;
}

@media  (max-width: 768px){
    .header-offer .header-fixed{
        margin-bottom: 0;
    }
}

/*Promo*/
.promo--special{
    background-position: 50% 50%;
    background-attachment: scroll;
}
/*Prevent animation effects*/

.fadeInUpStart{
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.fadeInStart{
    opacity: 1;
}

.zoomInStart{
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.zoomIn,
.fadeIn,
.fadeInUp {
  -webkit-animation-name: none;
  animation-name: none;
}